
/* this affects the first child in a list */
.list li:first-child {
color:red;
background-color:black;
}

/* this affects the third child in the list */
.list li:nth-child(3) {
color: blue;
background-color: black;
}
